<?xml version="1.0" encoding="utf-8" ?>
<!-- most of configuration stuff is taken from http://www.pepper1.net/zwavedb/-->
<configuration>
  <!-- This section should come before any others -->
  <configSections>
    <section name="deviceSettings"
             type="HomeOS.Hub.Drivers.ZwaveZensys.Configuration.DeviceSettingsSection, HomeOS.Hub.Drivers.ZwaveZensys_4_55"/>
  </configSections>
  <appSettings>
    <add key="HomeOSUpdateVersion" value="1.0.0.3" />
  </appSettings>  
  <deviceSettings>
    <device name="aeon multisensor">
      <settings>
        <setting name ="sensor report type on Get without instances" paramNum="01" level="01" value="00"/>
        <setting name ="wake up 10 minutes when batteries are inserted" paramNum="02" level="01" value="01"/>
        <setting name ="on time" paramNum="03" level="02" value="00 01"/>
        <setting name ="enable motion sensor" paramNum="04" level="01" value="01"/>
        <setting name ="send unsolicited reports periodically. Interval group 1" paramNum="101" level="04" value="00 00 00 225"/>
        <setting name ="unsolicitate reports interval for timing groups 1" paramNum="111" level="04" value="00 00 00 60"/>
      </settings>
      <roles>
        <role name=":sensormultilevel::temperaturesensor:"/>
        <role name=":sensormultilevel::luminositysensor:"/>
        <role name=":sensormultilevel::humiditysensor:"/>
      </roles>
    </device>
    <device name="aeon smart energy switch">
      <settings>
        <setting name ="type of sensor report" paramNum="01" level="01" value="00"/>
        <setting name ="notification on status change" paramNum="80" level="01" value="02"/>
        <setting name ="report type in reporting group 1" paramNum="101" level="04" value="00 00 00 02"/>
        <setting name ="send interval for reporting group 1" paramNum="111" level="04" value="00 00 00 60"/>
      </settings>
      <roles>
        <role name=":sensormultilevel::powersensor:"/>
      </roles>
    </device>
    <device name="aeon home energy meter">
      <settings>
        <setting name ="automated report only when power is changed" paramNum="03" level="01" value="00"/>
        <setting name ="report type send in reporting group 1" paramNum="101" level="04" value="00 00 00 03"/>
        <setting name ="send interval for reporting group 1" paramNum="111" level="04" value="00 00 00 60"/>
      </settings>
      <roles>
        <role name=":sensormultilevel::powersensor:"/>
      </roles>
    </device>
  </deviceSettings>
</configuration>