<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.webServer>
    <security xdt:Transform="Insert">
      <ipSecurity allowUnlisted="false" >
        <!--ToDo replace 127.0.0.1 with your IP address-->
        <add allowed="true" ipAddress="127.0.0.1" subnetMask="255.255.0.0" />
      </ipSecurity>
    </security>
  </system.webServer>
</configuration>