<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Zensys.PCController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Zensys.PCController.Properties.Settings>
            <setting name="FormWidth" serializeAs="String">
                <value>111</value>
            </setting>
            <setting name="FormHeight" serializeAs="String">
                <value>111</value>
            </setting>
            <setting name="FormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="LastUsedDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="GenericTypeAvControlPoint_NodeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GenericTypeEntryControl_NodeColor" serializeAs="String">
                <value>170, 170, 170</value>
            </setting>
            <setting name="GenericTypeGenericController_NodeColor" serializeAs="String">
                <value>0, 255, 153</value>
            </setting>
            <setting name="GenericTypeMeter_NodeColor" serializeAs="String">
                <value>230, 230, 28</value>
            </setting>
            <setting name="GenericTypeMeterPulse_NodeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GenericTypeNonInteroperable_NodeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GenericTypeRepeaterSlave_NodeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GenericTypeSemiInteroperable_NodeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GenericTypeSensorAlarm_NodeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GenericTypeSensorBinary_NodeColor" serializeAs="String">
                <value>0, 170, 0</value>
            </setting>
            <setting name="GenericTypeSensorMultilevel_NodeColor" serializeAs="String">
                <value>17, 17, 17</value>
            </setting>
            <setting name="GenericTypeStaticController_NodeColor" serializeAs="String">
                <value>153, 153, 255</value>
            </setting>
            <setting name="GenericTypeSwitchBinary_NodeColor" serializeAs="String">
                <value>102, 0, 0</value>
            </setting>
            <setting name="GenericTypeSwitchMultilevel_NodeColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="GenericTypeSwitchRemote_NodeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GenericTypeSwitchToggle_NodeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GenericTypeThermostat_NodeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GenericTypeWindowCovering_NodeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GenericTypeZipGateway_NodeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GenericTypeZipNode_NodeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Unknown_NodeColor" serializeAs="String">
                <value>153, 0, 255</value>
            </setting>
            <setting name="NoNode_NodeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DefaultLayout" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;!--DockPanel configuration file. Author: Weifen Luo, all rights reserved.--&gt;
&lt;!--!!! AUTOMATICALLY GENERATED FILE. DO NOT MODIFY !!!--&gt;
&lt;DockPanel FormatVersion="1.0" DockLeftPortion="0.346590909090909" DockRightPortion="0.25" DockTopPortion="0.517778078973524" DockBottomPortion="0.482221921026476" ActiveDocumentPane="8" ActivePane="6"&gt;
  &lt;Contents Count="6"&gt;
    &lt;Content ID="0" PersistString="Zensys.PCController.UI.AssociationsForm" AutoHidePortion="0.25" IsHidden="False" IsFloat="False" /&gt;
    &lt;Content ID="1" PersistString="Zensys.PCController.UI.CommandClassForm" AutoHidePortion="0.25" IsHidden="False" IsFloat="False" /&gt;
    &lt;Content ID="2" PersistString="Zensys.PCController.UI.NodeForm" AutoHidePortion="0.25" IsHidden="False" IsFloat="False" /&gt;
    &lt;Content ID="3" PersistString="Zensys.PCController.UI.ControllerForm" AutoHidePortion="0.25" IsHidden="False" IsFloat="False" /&gt;
    &lt;Content ID="4" PersistString="Zensys.PCController.UI.SetupRouteForm" AutoHidePortion="0.25" IsHidden="False" IsFloat="False" /&gt;
    &lt;Content ID="5" PersistString="Zensys.PCController.UI.LogForm" AutoHidePortion="0.25" IsHidden="False" IsFloat="False" /&gt;
  &lt;/Contents&gt;
  &lt;Panes Count="9"&gt;
    &lt;Pane ID="0" DockState="Float" ActiveContent="-1"&gt;
      &lt;Contents Count="1"&gt;
        &lt;Content ID="0" RefID="5" /&gt;
      &lt;/Contents&gt;
    &lt;/Pane&gt;
    &lt;Pane ID="1" DockState="Float" ActiveContent="-1"&gt;
      &lt;Contents Count="1"&gt;
        &lt;Content ID="0" RefID="4" /&gt;
      &lt;/Contents&gt;
    &lt;/Pane&gt;
    &lt;Pane ID="2" DockState="Float" ActiveContent="-1"&gt;
      &lt;Contents Count="1"&gt;
        &lt;Content ID="0" RefID="3" /&gt;
      &lt;/Contents&gt;
    &lt;/Pane&gt;
    &lt;Pane ID="3" DockState="Float" ActiveContent="-1"&gt;
      &lt;Contents Count="1"&gt;
        &lt;Content ID="0" RefID="2" /&gt;
      &lt;/Contents&gt;
    &lt;/Pane&gt;
    &lt;Pane ID="4" DockState="Float" ActiveContent="-1"&gt;
      &lt;Contents Count="1"&gt;
        &lt;Content ID="0" RefID="1" /&gt;
      &lt;/Contents&gt;
    &lt;/Pane&gt;
    &lt;Pane ID="5" DockState="Float" ActiveContent="-1"&gt;
      &lt;Contents Count="1"&gt;
        &lt;Content ID="0" RefID="0" /&gt;
      &lt;/Contents&gt;
    &lt;/Pane&gt;
    &lt;Pane ID="6" DockState="DockLeft" ActiveContent="2"&gt;
      &lt;Contents Count="1"&gt;
        &lt;Content ID="0" RefID="2" /&gt;
      &lt;/Contents&gt;
    &lt;/Pane&gt;
    &lt;Pane ID="7" DockState="DockBottom" ActiveContent="5"&gt;
      &lt;Contents Count="1"&gt;
        &lt;Content ID="0" RefID="5" /&gt;
      &lt;/Contents&gt;
    &lt;/Pane&gt;
    &lt;Pane ID="8" DockState="Document" ActiveContent="3"&gt;
      &lt;Contents Count="4"&gt;
        &lt;Content ID="0" RefID="3" /&gt;
        &lt;Content ID="1" RefID="1" /&gt;
        &lt;Content ID="2" RefID="0" /&gt;
        &lt;Content ID="3" RefID="4" /&gt;
      &lt;/Contents&gt;
    &lt;/Pane&gt;
  &lt;/Panes&gt;
  &lt;DockWindows&gt;
    &lt;DockWindow ID="0" DockState="Document" ZOrderIndex="0"&gt;
      &lt;NestedPanes Count="1"&gt;
        &lt;Pane ID="0" RefID="8" PrevPane="-1" Alignment="Right" Proportion="0.5" /&gt;
      &lt;/NestedPanes&gt;
    &lt;/DockWindow&gt;
    &lt;DockWindow ID="1" DockState="DockLeft" ZOrderIndex="3"&gt;
      &lt;NestedPanes Count="1"&gt;
        &lt;Pane ID="0" RefID="6" PrevPane="-1" Alignment="Left" Proportion="0.5" /&gt;
      &lt;/NestedPanes&gt;
    &lt;/DockWindow&gt;
    &lt;DockWindow ID="2" DockState="DockRight" ZOrderIndex="4"&gt;
      &lt;NestedPanes Count="0" /&gt;
    &lt;/DockWindow&gt;
    &lt;DockWindow ID="3" DockState="DockTop" ZOrderIndex="2"&gt;
      &lt;NestedPanes Count="0" /&gt;
    &lt;/DockWindow&gt;
    &lt;DockWindow ID="4" DockState="DockBottom" ZOrderIndex="1"&gt;
      &lt;NestedPanes Count="1"&gt;
        &lt;Pane ID="0" RefID="7" PrevPane="-1" Alignment="Left" Proportion="0.5" /&gt;
      &lt;/NestedPanes&gt;
    &lt;/DockWindow&gt;
  &lt;/DockWindows&gt;
  &lt;FloatWindows Count="6"&gt;
    &lt;FloatWindow ID="0" Bounds="499, 569, 300, 300" ZOrderIndex="0"&gt;
      &lt;NestedPanes Count="1"&gt;
        &lt;Pane ID="0" RefID="3" PrevPane="-1" Alignment="Right" Proportion="0.5" /&gt;
      &lt;/NestedPanes&gt;
    &lt;/FloatWindow&gt;
    &lt;FloatWindow ID="1" Bounds="869, 495, 300, 300" ZOrderIndex="1"&gt;
      &lt;NestedPanes Count="1"&gt;
        &lt;Pane ID="0" RefID="2" PrevPane="-1" Alignment="Right" Proportion="0.5" /&gt;
      &lt;/NestedPanes&gt;
    &lt;/FloatWindow&gt;
    &lt;FloatWindow ID="2" Bounds="191, 608, 300, 300" ZOrderIndex="2"&gt;
      &lt;NestedPanes Count="1"&gt;
        &lt;Pane ID="0" RefID="4" PrevPane="-1" Alignment="Right" Proportion="0.5" /&gt;
      &lt;/NestedPanes&gt;
    &lt;/FloatWindow&gt;
    &lt;FloatWindow ID="3" Bounds="614, 291, 300, 300" ZOrderIndex="3"&gt;
      &lt;NestedPanes Count="1"&gt;
        &lt;Pane ID="0" RefID="0" PrevPane="-1" Alignment="Right" Proportion="0.5" /&gt;
      &lt;/NestedPanes&gt;
    &lt;/FloatWindow&gt;
    &lt;FloatWindow ID="4" Bounds="980, 172, 300, 300" ZOrderIndex="4"&gt;
      &lt;NestedPanes Count="1"&gt;
        &lt;Pane ID="0" RefID="5" PrevPane="-1" Alignment="Right" Proportion="0.5" /&gt;
      &lt;/NestedPanes&gt;
    &lt;/FloatWindow&gt;
    &lt;FloatWindow ID="5" Bounds="708, 207, 300, 300" ZOrderIndex="5"&gt;
      &lt;NestedPanes Count="1"&gt;
        &lt;Pane ID="0" RefID="1" PrevPane="-1" Alignment="Right" Proportion="0.5" /&gt;
      &lt;/NestedPanes&gt;
    &lt;/FloatWindow&gt;
  &lt;/FloatWindows&gt;
&lt;/DockPanel&gt;</value>
            </setting>
            <setting name="UserLayout" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;!--DockPanel configuration file. Author: Weifen Luo, all rights reserved.--&gt;
&lt;!--!!! AUTOMATICALLY GENERATED FILE. DO NOT MODIFY !!!--&gt;
&lt;DockPanel FormatVersion="1.0" DockLeftPortion="0.346590909090909" DockRightPortion="0.25" DockTopPortion="0.517778078973524" DockBottomPortion="0.482221921026476" ActiveDocumentPane="8" ActivePane="6"&gt;
  &lt;Contents Count="6"&gt;
    &lt;Content ID="0" PersistString="Zensys.PCController.UI.AssociationsForm" AutoHidePortion="0.25" IsHidden="False" IsFloat="False" /&gt;
    &lt;Content ID="1" PersistString="Zensys.PCController.UI.CommandClassForm" AutoHidePortion="0.25" IsHidden="False" IsFloat="False" /&gt;
    &lt;Content ID="2" PersistString="Zensys.PCController.UI.NodeForm" AutoHidePortion="0.25" IsHidden="False" IsFloat="False" /&gt;
    &lt;Content ID="3" PersistString="Zensys.PCController.UI.ControllerForm" AutoHidePortion="0.25" IsHidden="False" IsFloat="False" /&gt;
    &lt;Content ID="4" PersistString="Zensys.PCController.UI.SetupRouteForm" AutoHidePortion="0.25" IsHidden="False" IsFloat="False" /&gt;
    &lt;Content ID="5" PersistString="Zensys.PCController.UI.LogForm" AutoHidePortion="0.25" IsHidden="False" IsFloat="False" /&gt;
  &lt;/Contents&gt;
  &lt;Panes Count="9"&gt;
    &lt;Pane ID="0" DockState="Float" ActiveContent="-1"&gt;
      &lt;Contents Count="1"&gt;
        &lt;Content ID="0" RefID="5" /&gt;
      &lt;/Contents&gt;
    &lt;/Pane&gt;
    &lt;Pane ID="1" DockState="Float" ActiveContent="-1"&gt;
      &lt;Contents Count="1"&gt;
        &lt;Content ID="0" RefID="4" /&gt;
      &lt;/Contents&gt;
    &lt;/Pane&gt;
    &lt;Pane ID="2" DockState="Float" ActiveContent="-1"&gt;
      &lt;Contents Count="1"&gt;
        &lt;Content ID="0" RefID="3" /&gt;
      &lt;/Contents&gt;
    &lt;/Pane&gt;
    &lt;Pane ID="3" DockState="Float" ActiveContent="-1"&gt;
      &lt;Contents Count="1"&gt;
        &lt;Content ID="0" RefID="2" /&gt;
      &lt;/Contents&gt;
    &lt;/Pane&gt;
    &lt;Pane ID="4" DockState="Float" ActiveContent="-1"&gt;
      &lt;Contents Count="1"&gt;
        &lt;Content ID="0" RefID="1" /&gt;
      &lt;/Contents&gt;
    &lt;/Pane&gt;
    &lt;Pane ID="5" DockState="Float" ActiveContent="-1"&gt;
      &lt;Contents Count="1"&gt;
        &lt;Content ID="0" RefID="0" /&gt;
      &lt;/Contents&gt;
    &lt;/Pane&gt;
    &lt;Pane ID="6" DockState="DockLeft" ActiveContent="2"&gt;
      &lt;Contents Count="1"&gt;
        &lt;Content ID="0" RefID="2" /&gt;
      &lt;/Contents&gt;
    &lt;/Pane&gt;
    &lt;Pane ID="7" DockState="DockBottom" ActiveContent="5"&gt;
      &lt;Contents Count="1"&gt;
        &lt;Content ID="0" RefID="5" /&gt;
      &lt;/Contents&gt;
    &lt;/Pane&gt;
    &lt;Pane ID="8" DockState="Document" ActiveContent="3"&gt;
      &lt;Contents Count="4"&gt;
        &lt;Content ID="0" RefID="3" /&gt;
        &lt;Content ID="1" RefID="1" /&gt;
        &lt;Content ID="2" RefID="0" /&gt;
        &lt;Content ID="3" RefID="4" /&gt;
      &lt;/Contents&gt;
    &lt;/Pane&gt;
  &lt;/Panes&gt;
  &lt;DockWindows&gt;
    &lt;DockWindow ID="0" DockState="Document" ZOrderIndex="0"&gt;
      &lt;NestedPanes Count="1"&gt;
        &lt;Pane ID="0" RefID="8" PrevPane="-1" Alignment="Right" Proportion="0.5" /&gt;
      &lt;/NestedPanes&gt;
    &lt;/DockWindow&gt;
    &lt;DockWindow ID="1" DockState="DockLeft" ZOrderIndex="3"&gt;
      &lt;NestedPanes Count="1"&gt;
        &lt;Pane ID="0" RefID="6" PrevPane="-1" Alignment="Left" Proportion="0.5" /&gt;
      &lt;/NestedPanes&gt;
    &lt;/DockWindow&gt;
    &lt;DockWindow ID="2" DockState="DockRight" ZOrderIndex="4"&gt;
      &lt;NestedPanes Count="0" /&gt;
    &lt;/DockWindow&gt;
    &lt;DockWindow ID="3" DockState="DockTop" ZOrderIndex="2"&gt;
      &lt;NestedPanes Count="0" /&gt;
    &lt;/DockWindow&gt;
    &lt;DockWindow ID="4" DockState="DockBottom" ZOrderIndex="1"&gt;
      &lt;NestedPanes Count="1"&gt;
        &lt;Pane ID="0" RefID="7" PrevPane="-1" Alignment="Left" Proportion="0.5" /&gt;
      &lt;/NestedPanes&gt;
    &lt;/DockWindow&gt;
  &lt;/DockWindows&gt;
  &lt;FloatWindows Count="6"&gt;
    &lt;FloatWindow ID="0" Bounds="499, 569, 300, 300" ZOrderIndex="0"&gt;
      &lt;NestedPanes Count="1"&gt;
        &lt;Pane ID="0" RefID="3" PrevPane="-1" Alignment="Right" Proportion="0.5" /&gt;
      &lt;/NestedPanes&gt;
    &lt;/FloatWindow&gt;
    &lt;FloatWindow ID="1" Bounds="869, 495, 300, 300" ZOrderIndex="1"&gt;
      &lt;NestedPanes Count="1"&gt;
        &lt;Pane ID="0" RefID="2" PrevPane="-1" Alignment="Right" Proportion="0.5" /&gt;
      &lt;/NestedPanes&gt;
    &lt;/FloatWindow&gt;
    &lt;FloatWindow ID="2" Bounds="191, 608, 300, 300" ZOrderIndex="2"&gt;
      &lt;NestedPanes Count="1"&gt;
        &lt;Pane ID="0" RefID="4" PrevPane="-1" Alignment="Right" Proportion="0.5" /&gt;
      &lt;/NestedPanes&gt;
    &lt;/FloatWindow&gt;
    &lt;FloatWindow ID="3" Bounds="614, 291, 300, 300" ZOrderIndex="3"&gt;
      &lt;NestedPanes Count="1"&gt;
        &lt;Pane ID="0" RefID="0" PrevPane="-1" Alignment="Right" Proportion="0.5" /&gt;
      &lt;/NestedPanes&gt;
    &lt;/FloatWindow&gt;
    &lt;FloatWindow ID="4" Bounds="980, 172, 300, 300" ZOrderIndex="4"&gt;
      &lt;NestedPanes Count="1"&gt;
        &lt;Pane ID="0" RefID="5" PrevPane="-1" Alignment="Right" Proportion="0.5" /&gt;
      &lt;/NestedPanes&gt;
    &lt;/FloatWindow&gt;
    &lt;FloatWindow ID="5" Bounds="708, 207, 300, 300" ZOrderIndex="5"&gt;
      &lt;NestedPanes Count="1"&gt;
        &lt;Pane ID="0" RefID="1" PrevPane="-1" Alignment="Right" Proportion="0.5" /&gt;
      &lt;/NestedPanes&gt;
    &lt;/FloatWindow&gt;
  &lt;/FloatWindows&gt;
&lt;/DockPanel&gt;</value>
            </setting>
            <setting name="DelaySchemeReportValue" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DelayToggleBasicGet" serializeAs="String">
                <value>100</value>
            </setting>
        </Zensys.PCController.Properties.Settings>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="SerialPortApplication" publicKeyToken="E6CB645D8075FB69" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.2978.27015" newVersion="1.0.2978.27015"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
